#map {
    width: 100%;
    height: 500px;
    margin: 0;
}

#loadedMap {
    width: 100%;
    height: 500px;
    margin: 0;
}

#map img { 
  max-width: none;
}

#map label { 
  width: auto; display:inline; 
}

#loadedMap img { 
  max-width: none;
}

#loadedMap label { 
  width: auto; display:inline; 
}

/* css for timepicker */
.ui-multiselect{margin-top: 5px;}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

input[type=text], input[type=password]{
  height: 28px; 
}

/*.span2 button{
  padding: 4px 12px;
  font-size: 13px;
  font-weight: none;

text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
border: 1px solid #cccccc;
border-bottom-color: #b3b3b3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
*/


  
}



/*.gridMenu{

  width: 450px;
  height: 450px;
  float: left;
  z-index: 10000;
  position: absolute;
  right: 6%;
  top: 12%;
  background: white;  
}

.span12{
  height: 600px;
  margin-top: 20px;
}

.bt-mapForm a {
  padding: 10px;
  margin: 10px auto;
  text-decoration: none;
  border-radius: 2px;
  color: white;
  background-color: #7F6280;
  letter-spacing: normal;
}

.navigator{
  float: left;
  height: 40px;
  width: 277px;
  margin: 0 0 0 90px;
  background-color: #7F6280;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  padding: 3px 9px;
}

.navigator li{
  float: left; 
  list-style: none;
  margin: 0 0 0 8px;
  height: 35px;
}

.navigator li a{
  text-decoration: none;
  font-size: 1.3em;
  color: white;
}

.box-shadow {
  -moz-box-shadow: 0 5px 10px #ccc;
  -webkit-box-shadow: 0 5px 10px #ccc;
  box-shadow: 0 5px 10px #ccc;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
    direction=0, strength=1 ), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
    direction=45, strength=1 ), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
    direction=90, strength=2 ), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
    direction=135, strength=3 ), progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,
    direction=180, strength=10 ), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
    direction=225, strength=3 ), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
    direction=270, strength=2 ), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
    direction=315, strength=1 );
}

.formNewCard{
  margin: 70px 0 0 25px;
  padding: 6px;
  height: 240px;
  width: 400px;
}

